import(httr)
importFrom("stats", "na.omit")
importFrom("utils", "download.file", "read.csv", "unzip")
export(advanced_search)
export(getCompendium)
export(listAnnotationTypes)
export(listContrasts)
export(listEntities)
export(listGenes)
export(listOrganisms)
export(quick_search)
export(get_contrast_annotations)
