import(httr)
importFrom("stats", "setNames")
importFrom("stats", "na.omit")
importFrom("utils", "download.file", "read.csv", "unzip")
export(advanced_search)
export(advanced_search_by_both)
export(advanced_search_by_contrasts)
export(advanced_search_by_genes)
export(getCompendium)
export(get_contrast_annotations)
export(listAnnotationTypes)
export(listContrasts)
export(listEntities)
export(listGenes)
export(listOrganisms)
export(parseCompendium)
export(quick_search)
export(switchVersion)
